[FirmwareVersion]
index = 0
enable = true
Timeout = 5
name = Firmware_check
 
[NANDCheck]
index = 1
enable = true
Timeout = 2
name = Image_check

[Test1]
index = 2
enable = true
Timeout = 5

[Test2]
index = 3
enable = true
Timeout = 10

[Test3]
index = 4
enable = true
Timeout = 10

[Test4]
index = 5
enable = true
Timeout = 10

[Test5]
index = 6
enable = true
Timeout = 10

[Test6]
index = 7
enable = true
Timeout = 10